/* GENERAL
 * ------------------------------------------------------------------------- */

.preview-container {
	max-width: 414px;
	max-height: 736px;
	background: #F2F2F2;
	box-sizing: border-box;
	overflow-y: scroll;
	font-family: PingFang-SC-Regular, Helvetica, sans-serif;
	text-align: left;
	font-size: 100%;
	font-weight: normal;
}

.post-wrapper {
	background: #FFF;
	color: #333;
	margin: 0.5625rem 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px -2px;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #d8d8d8;
}

.post-wrapper p {
	color: #333;
	margin: 0.21878rem 0;
	padding: 0;
	word-break: break-all;
	word-wrap: break-word;
	line-height: 1.35rem;
	font-size: 1rem;
}

.post-wrapper a,
.post-wrapper a:hover {
	color: #598abf;
	text-decoration: none;
}

/* FLEXBOX
 * ------------------------------------------------------------------------- */

.post-wrapper .post-header,
.post-wrapper .video-preview,
.post-wrapper .post-images,
.post-wrapper .account-info,
.post-wrapper .video-meta,
.post-wrapper .post-image,
.post-wrapper .post-engagement {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.post-wrapper .account-info,
.post-wrapper .video-meta,
.post-wrapper .post-image {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;    
    justify-content: center;
}

/* ACCOUNT INFORMATION
 * ------------------------------------------------------------------------- */

.post-wrapper .account-image {
	width: 2.125rem;
	height: 2.125rem;
	background-color: #FFF;
	display: inline-block;
	margin: 0.75rem 0 0.5rem 0.75rem;
	background-size: cover;
	background-repeat: no-repeat;
	border: .0625rem solid #e4e4e4;
	position: relative;
	background-image: url( './images/profile.png' );
}

.post-wrapper .verified .account-image:after {
	width: 12px;
	height: 12px;
	content: '';
	background-image: url( './images/verified.png' );
	position: absolute;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	bottom: -6px;
	right: -6px;

}

.post-wrapper .account-info {
	vertical-align: top;
	padding: 0.3175rem 0.9375rem 0;
	max-width: 70%;
}

.post-wrapper .account-name {
	font-size: 1rem;
	line-height: 1rem;
	letter-spacing: 0;
	font-weight: 400;
	overflow: hidden;
	vertical-align: baseline;
	display: block;
	text-overflow: ellipsis;
}

.post-wrapper .post-meta {
	line-height: 1rem;
	color: #929292;
	font-size: 0.625rem;
	vertical-align: baseline;
}

.post-wrapper .post-meta span:last-of-type {
	padding: 0 0 0 .5rem;
}

.post-wrapper .post-body {
	padding: 0.25rem 0.75rem 0.625rem;
}

/* VIDEO PREVIEW
 * ------------------------------------------------------------------------- */

.post-wrapper .video-preview {
	margin-top: 7px;
	background: #F7F7F7;
	height: 4.375rem;
}

.post-wrapper .video-preview-image {
	min-width: 4.375rem;
	background: #666;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: block;
	position: relative;
}

.post-wrapper .tudou {
	background-image: url( './images/tudou.jpg' );
}

.post-wrapper .youku {
	background-image: url( './images/youku.jpg' );
}

.post-wrapper .pptv {
	background-image: url( './images/pptv.jpg' );
}

.post-wrapper .sohu {
	background-image: url( './images/sohu.jpg' );
}

.post-wrapper .video-meta {
    padding: .5rem .6875rem;
	padding: .3125rem 0 0 .6875rem;
	line-height: 1rem;
	vertical-align: baseline;
	overflow: hidden;
}

.post-wrapper .video-meta p {
	font-size: .875rem;
	margin: 0;
}

.post-wrapper .video-meta span {
	font-size: .8125rem;
	color: #666;
	overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
}

.post-wrapper .preview-link:before {
	content: '';
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	transform: translateY(-1px);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url( './images/link.png' );
}

.post-wrapper .preview-vlink:before {
	background-image: url( './images/video.png' );
}

.post-wrapper .vpreview .preview-vlink:first-of-type {
	display: none;
}

/* POST IMAGES
 * ------------------------------------------------------------------------- */
.post-wrapper .post-images {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;

    text-align: left;
    margin-top: .4375rem;
    overflow: hidden;
    box-sizing: content-box;
}

.post-wrapper .post-image {
	padding-bottom: 32.435%;
	width: 32.435%;
	margin: 1.355% 0 0 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.post-wrapper .image-layout-1 {
	margin-top: .3125rem;
	max-width: 50%;
}

.post-wrapper .image-layout-2,
.post-wrapper .image-layout-4 {
	max-width: 66.216216216%;
}

.post-wrapper .post-image:nth-child( -n+3 ) {
	margin-top: 0;
}

.post-wrapper .image-layout-1 .post-image {
	width: 100%;
	padding-bottom: 100%;
}

.post-wrapper .image-layout-2 .post-image,
.post-wrapper .image-layout-4 .post-image {
	width: 48.979591836%;
	padding-bottom: 48.979591836%;
}

.post-wrapper .image-layout-4 .post-image:nth-child( n+3 ) {
	margin-top: 2.045%;
}

.post-wrapper .image-layout-5,
.post-wrapper .image-layout-8 {
	-webkit-justify-content: flex-start;
	-ms-flex-pack: flex-start;
	justify-content: flex-start;
}

.post-wrapper .image-layout-5 .post-image,
.post-wrapper .image-layout-8 .post-image {
	margin-right: 1.354%;
}

.post-wrapper .image-layout-5 .post-image:nth-child( 3n-3 ),
.post-wrapper .image-layout-8 .post-image:nth-child( 3n-3 ) {
	margin-right: 0;
}

/* POST ENGEGAMENT
 * ------------------------------------------------------------------------- */

.post-wrapper .post-engagement {
	-webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
	min-height: 33px;
	position: relative;
}

.post-wrapper .post-engagement:before {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 1px;
	background-image: linear-gradient(to bottom, #e6e6e6 0%, #e6e6e6 51%, transparent 51%);
    background-size: 100% 1px;
}

.post-wrapper .post-engagement span {
	font-weight: 300;
	margin-left: 4px;
    -webkit-font-smoothing: antialiased;
}

.post-wrapper .post-forwards,
.post-wrapper .post-comments,
.post-wrapper .post-likes {
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
	text-align: center;
	line-height: 34px;
	font-size: 14px;
	color: #949494;
	position: relative;
}

.post-wrapper .post-forwards:before,
.post-wrapper .post-comments:before,
.post-wrapper .post-likes:before {
	content: '';
	min-height: 12px;
	min-width: 12px;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	transform: translateY( -1px );
}

.post-wrapper .post-forwards:before {
	width: 13px;
	background-image: url( './images/forward.png' );
	margin-right: 4px;
	margin-left: 2px;
}

.post-wrapper .post-comments:before {
	width: 14px;
	height: 14px;
	margin-right: 2px;
	background-image: url( './images/comments.png' );
}

.post-wrapper .post-likes:before {
	height: 14px;
	width: 14px;
	margin-right: 3px;
	background-image: url( './images/like.png' );
	margin-left: -8px;
}

.post-wrapper .post-forwards:after,
.post-wrapper .post-comments:after {
	content: '';
	position: absolute;
	width: 1px;
	height: 20px;
	top: 6px;
	right: 0;
	background-image: linear-gradient(to right, #e6e6e6 0%, #e6e6e6 51%, transparent 51%);
    background-size: 100% 1px;
}

/* RESPONSIVE
 * USE MEDIA QUERIES TO SNAP IPHONE DIMENSIONS BASED ON SCREEN WITH
 * ------------------------------------------------------------------------- */

@media screen and ( max-width: 414px ) {

	#preview-container {
		max-width: 375px;
		max-height: 667px;
	}

}

@media screen and ( max-width: 375px ) {

	#preview-container {
		max-width: 320px;
		max-height: 568px;
	}

}
